{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>
            He he he.
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsum quos quasi at sapiente quo quibusdam veritatis velit quae blanditiis porro voluptatem consectetur, exercitationem laudantium tempore vero. Ea, porro eos.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/ae91efe6f4ef728b0f6123d17e8de8d3.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}